.input {
    margin: 150px auto;
    padding: 10px;
    width: 80%;
    max-width: 600px;
}

.input label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.input input {
    font: 400;
    display: block;
    width: 90%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.input input:focus {
    outline: none;
    border-color: #4f005f;
}