

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .blog{
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 670px;
} */